
.blogs-main .card-set{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.blogs-main .card{
    height: 100%;
    padding: 30px;
}

.blogs-main .blog-image{
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
}

.blogs-main .title{
    margin-bottom: 20px;
    text-align: center;
}

.blogs-main .para{
    text-align: justify;
    margin-bottom: 10px;
}


@media (max-width: 990px) {
    .blogs-main .card-set {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .blogs-main .card{
        height: 100%;
    }
}

