.contact-main{
    padding: 50px 150px;
    background-color: #f9f9f9;
    margin-top: 150px;
}

.contact-main .contact-btn-set{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.all-right-row{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    
}

.all-right-row .all-right{
    font-size: 15px;
    font-weight: 500;
    color: var(--light-para-color);
}

@media (max-width: 990px) {
    .contact-main {
        padding: 50px 50px;
    }

    .all-right-row .all-right {
        font-size: 11px;
    }

     .all-right-row {
        padding: 20px 30px;
        gap: 50px;
    }
}

@media (max-width: 600px) {
    .all-right-row .social-btn {
        width: 30px;
        height: 30px;
    }
   
}

@media (max-width: 478px) {
    .all-right-row .social-btn {
        width:32px;
        height: 30px;
    }
}

@media (max-width: 378px) {
    .all-right-row .social-btn {
        width: 40px;
        height: 30px;
    }
}

@media (max-width: 358px) {
    .all-right-row .social-btn {
        width: 50px;
        height: 30px;
    }
}